.homepage {
  width: 100vw;
  height: 100%;
  background: url("../img/BackgroundWhite.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

/* Use Image .webp because it will be imporve the performance  */
